.background {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  