.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0.5rem 1rem;
  background-color: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  width: 100%;
  height: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  
 
}

.header {
  margin-bottom:100px;
  margin-right: 500px;
}


.logo img {
  height: 3rem;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 2rem;
}

.nav-links li:not(:last-child) {
  margin-right: 1rem;
}

.nav-links a {
  display: block;
  padding: 0.5rem;
  color: #333;
  text-decoration: none;
  transition: color 0.2s ease;
}

.nav-links a:hover {
  color: #0077b6;
}

.navbar-text {
  font-size: 1rem;
  font-weight: 800;
  color: #000000;
  flex: 1;
  text-align: center;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  position: center;
  flex-direction: row;
}
.navbar-text p {
  font-size: 3rem;
  margin: 0;
  color: black;
}